:root {
  background-color: lightblue;
  color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
  -webkit-text-stroke: 5px rgba(0, 0, 0, 0.87);
}

.like-counter-container {
  text-align: center;
  margin-top: 20px;
}

.like-counter-heading {
  font-size: 10rem;
  color: blue;
}

.like-button,
.unlike-button {
  border-radius: 10px;
  border: 2px solid #333;
  padding: 0.8em 1.5em;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #2196f3; /* Blue color */
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  margin: 10px;
  color: white;
}

.like-button:hover {
  border-color: black;
  color: black;
  background-color: #4caf50;
}

.unlike-button:hover {
  border-color: black;
  background-color: #da0b0b;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0 10px;
  color: black;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
